extends inc/_layout.pug

block prepend variables
	- var PAGE_URL = "";
	- var OG_TYPE = "website";
	- var TITLE = "テスト";
	- var KEYWORDS ="テスト";
	- var DESCRIPTION = "テスト";
	- var BODYID = "top";
	- var DIR = "";

block contents
	section
		.inner
			.button-boxes
				.button-box
					.button-box__inner
						a(href="/") テキストリンク1
				.button-box
					.button-box__inner
						a(href="/") テキストリンク2
				.button-box
					.button-box__inner
						a(href="/") テキストリンク3
				.button-box
					.button-box__inner
						a(href="/") テキストリンク4
				.button-box
					.button-box__inner
						a(href="/") テキストリンク5
				.button-box
					.button-box__inner
						a(href="/") テキストリンク6
				.button-box
					.button-box__inner
						a(href="/") テキストリンク7
				.button-box
					.button-box__inner
						a(href="/") テキストリンク8
				.button-box
					.button-box__inner
						a(href="/") テキストリンク9
				.button-box
					.button-box__inner
						a(href="/") テキストリンク10

